In [2]:
import numpy as np
import matplotlib.pyplot as plt
import cv2
import pandas as pandas

In [14]:
p65folder = './images/places365/'
imfolder = p65folder+'val_large'
imname = 'Places365_val_'

## Load in Image Metadata

In [17]:
df_categories = pandas.read_table(p65folder+'places365_val.txt')
df_categories.head(5)

   Places365_val_00000001.jpg 165
0  Places365_val_00000002.jpg 358
1   Places365_val_00000003.jpg 93
2  Places365_val_00000004.jpg 164
3  Places365_val_00000005.jpg 289
4  Places365_val_00000006.jpg 106

In [20]:
df_hierarchy = pandas.read_csv(p65folder+'SceneHierarchy_Places365.csv')
df_hierarchy.head(5)

,Unnamed: 0,Level 1,Unnamed: 2,Unnamed: 3,"Level 2, INDOOR:",Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,"Level 2, OUTDOOR NATURAL:",Unnamed: 11,Unnamed: 12,Unnamed: 13,"Level 2, OUTDOOR MAN-MADE:",Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,category,indoor,"outdoor, natural","outdoor, man-made",shopping and dining,"workplace (office building, factory, lab, etc.)",home or hotel,"transportation (vehicle interiors, stations, e...",sports and leisure,"cultural (art, education, religion, millitary,...","water, ice, snow","mountains, hills, desert, sky","forest, field, jungle",man-made elements,"transportation (roads, parking, bridges, boats...",cultural or historical building/place (millita...,"sports fields, parks, leisure spaces",industrial and construction,"houses, cabins, gardens, and farms","commercial buildings, shops, markets, cities, ..."
1,'/a/airfield',0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,'/a/airplane_cabin',1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,'/a/airport_terminal',1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,'/a/alcove',1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

## Read In Images

In [ ]:
testim = cv2.imread(imfolder+'val_large/cats.jpg')